POSTGRES_DATABASE=<dbname>
POSTGRES_USER=<db user name>
POSTGRES_PASSWORD=<db user password>
DEBUG=1 <turn of on prod>
SECRET_KEY=<make your own key here OR create autogeneration?>
ALLOWED_HOSTS=<set accesed hostname, do not use *, set nothing for local deploy>

