region = "AWS-Region-name"
owner = "owner-name"
entity_name = "project-name"
db_user = "database-user"
db_password = "database-password"
django_secret_key = "Super-Secret-Djago-Key"
allowed_hosts = "Allowed hosts"
jenkins_mail_address = "relay-mail-address"
jenkins_mail_password = "relay-mail-password"
ingress_sg = "ingress-security-group-name"
jenkins_az = "az-for-jenkins"
sq_password = "sonarqube-admin-password"
